<div id="matricula">
    <div class="container">
      <div class="col-md-12">
          <div class="form-inline">
            <label class="mr-sm-2" for="matricula-input">Digite a Matricula do Aluno: </label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input (input)="matricula = $event.target.value" type="text" class="form-control" id="matricula-input" placeholder="000000">
            </div>
          
            <button [disabled]="!matricula" (click)="getAluno();" class="btn btn-primary">Buscar</button>
          </div>
      </div>
      <div class="col-md-12" [hidden]="exibirErro">
        <h5> Aluno: {{ matricula }}</h5>
      </div>
      <div class="col-md-12 text-center" [hidden]="!exibirErro">
        <h5> Aluno não encontrado </h5>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h4> Disciplinas Oferecidas </h4>
          <table class="table" [hidden]="exibirErro">
            <thead>
              <tr>
                <th scope="col"> CODCRED </th>
                <th scope="col"> Semestre </th>
                <th scope="col"> Disciplina </th>
                <th scope="col"> Matricular </th>
                <th scope="col"> Vagas </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let disciplina of disciplinasOferecidas">
                <th scope="row">{{ disciplina.fields.CODCRED }}</th>
                <td>{{ disciplina.fields.SEMESTRE}}</td>
                <td> {{ disciplina.fields.DISCIPLINA }} </td>
                <td> <button (click)="matriculaDisciplinaAluno(disciplina)" class="btn btn-sm btn-primary"> Matricular </button></td>
                <td> {{ disciplina.fields.NUMERO_VAGAS }} </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="col-md-6">
          <h4> Disciplinas Matriculadas </h4>
          <table class="table" [hidden]="exibirErro">
            <thead>
              <tr>
                <th scope="col">CODCRED</th>
                <th scope="col">Semestre</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Remover</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matriculada of disciplinasMatriculadas">
                <th scope="row">{{ matriculada.fields.CODCRED }}</th>
                <td>{{ matriculada.fields.SEMESTRE}}</td>
                <td> {{ matriculada.fields.DISCIPLINA }} </td>
                <td> <button (click)="desmatriculaDisciplinaAluno(matriculada)" class="btn btn-sm btn-danger"> Remover </button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="col-md-12">
        <h4> Turmas Oferecidas </h4>
        <table class="table" [hidden]="exibirErro">
          <thead>
            <tr>
              <th scope="col">CODCRED</th>
              <th scope="col">NOME</th>
              <th scope="col">SEMESTRE</th>
              <th scope="col"> Numero </th>
              <th scope="col"> Vagas</th>
              <th scope="col"> Horário </th>
              <th scope="col">  </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turma of turmas">
              <th scope="row">{{ turma.fields.CODCRED }}</th>
              <td>{{ turma.fields.NOME }}</td>
              <td>{{ turma.fields.SEMESTRE }}</td>
              <td> {{ turma.fields.NUMERO }} </td>
              <td> {{ turma.fields.VAGAS }} </td>
              <td> {{ turma.fields.HORARIO }} </td>
              <th> <button (click)="matriculaTurmaAluno(turma)" class="btn btn-sm btn-primary"> Matricular </button> </th>
            </tr>
          </tbody>
        </table>
      </div> -->
      
    </div>
</div>
